---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects</div>
  </div>

  <HorizontalCard
    title="MonoWorld RP (UEFN)"
    img="/monoworld_thumb.webp"
    subtitle="Monoford Studios, 2024–2026"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="https://www.fortnite.com/@monoford/8651-5006-2690"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Repeat Offender (s&box)"
    img="/repeatoffender_thumb.webp"
    subtitle="Ninety Four, 2025"
    desc="S&box Game Jam #1"
    url="#"
    badge="1st Place"
  />
  <HorizontalCard
    title="Flood Survival (s&box)"
    img="/flood_thumb.webp"
    subtitle="Ape Tavern, 2025"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="https://sbox.game/apetavern/deluge"
  />
  <HorizontalCard
    title="Clean Up! (s&box)"
    img="/cleanup_thumb.webp"
    subtitle="Ape Tavern, 2025"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <HorizontalCard
    title="Winter Fortress Environment (s&box)"
    img="/winterfortress_thumb.webp"
    subtitle="2025"
    desc="s&box Tech Jam"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Turf Wars: Cops & Robbers (UEFN)"
    img="/turfwars_thumb.webp"
    subtitle="Monoford Studios, 2023–2024"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="https://www.fortnite.com/@monoford/9015-3948-6092"
  />
  <HorizontalCard
    title="Micro Mayhem (s&box)"
    img="/micromayhem_thumb.webp"
    subtitle="Ape Tavern, 2024"
    desc="s&box Game Jam II"
    url="https://sbox.game/apetavern/micromayhem"
    badge="1st Place"
  />
  <HorizontalCard
    title="GRUG (s&box)"
    img="/grug_thumb.webp"
    subtitle="Ape Tavern, 2024"
    desc="s&box Game Jam 1"
    url="#"
    badge="5th Place"
  />
  <div class="divider my-0"></div>

  <HorizontalCard
    title="What Lurks Below (s&box)"
    img="/whatlurksbelow_thumb.webp"
    subtitle="Ape Tavern, 2023"
    desc="Mighty Brick Halloween Game Jam"
    url="#"
    badge="3rd Place"
  />
  <HorizontalCard
    title="Parkour Painters (s&box)"
    img="/parkourpainters_thumb.webp"
    subtitle="Ape Tavern, 2023"
    desc="Three Thieves Game Jam"
    url="https://www.youtube.com/watch?v=gjLvK24ssx8"
    badge="2nd Place"
  />
  <HorizontalCard
    title="Grubs (s&box)"
    img="/grubs_thumb.webp"
    subtitle="Ape Tavern, 2023"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="https://sbox.game/apetavern/grubs"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Cold Open (s&box)"
    img="/coldopen_thumb.webp"
    subtitle="Ape Tavern, 2022"
    desc="Halloween Horror Super Jam"
    url="https://www.gvar.net/contest"
    badge="1st Place"
  />
</BaseLayout>
